<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Indeed Scrapper</h1>
        <p class="lead">Scrape all Developer Jobs in Boston</p>
        {{> buttongroup}}
    </div>
</div>